@model IndexViewModel

@{
    ViewBag.Title = "Home page";
    ViewBag.Description = "Home page of Zachary's blog";
    ViewBag.Keywords = "blog pain science poland government inflation misery computer";
}
<h2 class="title">Home page</h2>

<div class="main-img">

</div>

<div class="center">
    <ul class="post-list">
        @foreach(var post in Model.Posts)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>

<div class="center pages">
    @if(Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-controller="Home" 
        asp-route-category="@Model.Category" 
        asp-route-pageNumber="@(Model.PageNumber-1)">Previous Page</a>
    }
    <div class="current-page">
        @Model.PageNumber
    </div>
    @if (Model.CanGoNextPage)
    {
        <a asp-action="Index" asp-controller="Home" 
        asp-route-category="@Model.Category" 
        asp-route-pageNumber="@(Model.PageNumber+1)">NextPage</a>
    }
</div>